<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inline Survey Action</title>
    <link rel="stylesheet" href="//assets.adobedtm.com/activation/reactor/coralui/3.16.0/css/coral.css">
    <link rel="stylesheet" href="../css/global.css">
    <script>
      window.Coral = window.Coral || {};
      Coral.options = { typeKitId: 'buj6cmr'};
    </script>
    <script src="//assets.adobedtm.com/activation/reactor/coralui/3.16.0/js/libs/jquery.js"></script>
    <script src="//assets.adobedtm.com/activation/reactor/coralui/3.16.0/js/coral.js"></script>
    <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
    <script src="../js/global.js"></script>  
</head>
<body class="coral--light">
    <form>
        <div class="form-label">
            <div><h1 class="coral-Heading coral-Heading--1">Survey</h1></div>
            <div id="surveyMsg">Select the required survey from the list below</div><br>
            <div id="surveyList" style="display:none">
                <select id="surveyID" class="Select-control coral3-Select-button coral-Button coral-Button--secondary coral-Button--block">
                    <option id="-1" value="-1" class="coral-Button">--Select Survey--</option>                
                </select>
            </div>&nbsp;&nbsp;
            <div style="width:12.5rem;text-align: center" id="surveyLoader" class="coral-Tooltip-drop-target coral-Tooltip-drop-element-attached-top coral-Tooltip-drop-element-attached-center coral-Tooltip-drop-target-attached-bottom coral-Tooltip-drop-target-attached-center">
                <div>
                    <div class="coral-Wait waitXS"></div>                
                </div>                
            </div>
        </div>
    <hr>
    <br>
        <div><h1 class="coral-Heading coral-Heading--1">Data Mapping</h1></div>
        <div>Use Data Elements to capture external data in your survey variables</div>

        <div class="form-label" id="customVariables">
            <label id="custom1"><br>
                <span class="label">Variable 1</span>
                <input is="coral-textfield" id="variable1-DataElement-Value" class="coral-Form-field"/>
                <button id="variable1-Get-DataElement" class="coral-Button coral-Button--minimal coral-Button--medium" onclick="showDataElementsList(this)">
                    <span class="coral-Icon coral-Icon--sizeS coral-Icon--data" role="img"></span>
                    <span class="coral-Button-label"></span>          
                </button><button id="variable1-Add" class="coral-Button coral-Button--minimal coral-Button--medium" onclick="addCustomVariable(this)">
                    <span class="coral-Icon coral-Icon--sizeS coral-Icon--add" role="img"></span>
                    <span class="coral-Button-label"></span>          
                </button> <button id="variable1-Remove" class="coral-Button coral-Button--minimal coral-Button--medium" onclick="removeCustomVariable(this)">
                    <span class="coral-Icon coral-Icon--sizeS coral-Icon--minus" role="img"></span>
                    <span class="coral-Button-label"></span>          
                </button>        
            </label>
        </div>
    </form>
    <hr>
    <br>
    <div><h1 class="coral-Heading coral-Heading--1">Support</h1></div>
    <div>Please contact <a class='mailto' target='_blank' href='mailto:adobe-launch@questionpro.com'>adobe-launch@questionpro.com</a> if you have questions or issues with the QuestionPro rules & triggers.</div>
    <script>    
        window.extensionBridge.register({
            init: function(info) {
                var surveyID = '';
                var customVariables = '';
                var apiKey = '';
                if(sandbox){
                    surveyID = 5816401;
                    customVariables = "{\"custom1\":\"dataElement7463\",\"custom2\":\"dataElement74\",\"custom3\":\"dataElement7828\",\"custom4\":\"dataElement9988\",\"custom5\":\"dataElement1515\"}";
                    apiKey = "usjwx";
                }else{
                    if(info.settings && info.settings.surveyID){
                        surveyID = info.settings.surveyID;
                    }
                    if(info.settings && info.settings.customVariables){
                        customVariables = info.settings.customVariables;
                    }
                    if(info.extensionConfiguration && info.extensionConfiguration.apiKey){
                        apiKey = info.extensionConfiguration.apiKey;
                    }     
                    console.log("surveyID "+surveyID);                    
                    console.log("customVariables "+customVariables);                    
                    console.log("apiKey "+apiKey);                    
                }
                if(surveyID != ''){
                    $("#surveyID option[id='"+surveyID+"']").attr("selected", "selected");
                }else{
                    surveyID = -1;
                    $("#surveyID option[id='"+surveyID+"']").attr("selected", "selected");
                }
                if(customVariables != ''){
                    populateMappingData(customVariables);
                }          
                if(apiKey != ''){                                  
                    getSurveys(apiKey,surveyID);
                }
            },
            getSettings: function() {
                return {
                    surveyID: Number(document.getElementById('surveyID').value),
                    customVariables: JSON.stringify(getVariablesArray())
                };
            },
            validate: function() {
                return true;
            }
        });
    </script>
</body>
</html>
