<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Action</title>

  <link rel="stylesheet" href="//assets.adobedtm.com/activation/reactor/coralui/3.16.0/css/coral.css">
  <link rel="stylesheet" href="../global.css">
  <script>
    window.Coral = window.Coral || {};
    Coral.options = { typeKitId: 'buj6cmr'};
  </script>

  <script src="//assets.adobedtm.com/activation/reactor/coralui/3.16.0/js/libs/jquery.js"></script>
  <script src="//assets.adobedtm.com/activation/reactor/coralui/3.16.0/js/coral.js"></script>
  <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
  <script src="/extensionViews/js/global.js"></script>
  <style type="text/css">
	  .form-label {
		  padding: 10px 0px 10px 0px;
	  }
          span.label{
                text-align: right;
                width: 70px;
                display: inline-block;
          }
  </style>
</head>
<body class="coral--light">
  <form>
    <div class="form-label">
      <label>
        <span class="label">Survey ID</span>
	<span>
            <input is="coral-textfield" class="coral-Textfield" id="surveyID" class="coral-Form-field">                
        </span>
      </label>
    </div>

    <div class="form-label" id="customVariables">
      <label id="custom1"><br>
        <span class="label">Variable 1</span>
        <input is="coral-textfield" id="variable1-DataElement-Value" class="coral-Form-field"/>
        <button id="variable1-Get-DataElement" class="coral-Button coral-Button--minimal coral-Button--medium" onclick="showDataElementsList(this)">
          <span class="coral-Icon coral-Icon--sizeS coral-Icon--data" role="img"></span>
          <span class="coral-Button-label"></span>          
        </button>        
        <button id="variable1-Add" class="coral-Button coral-Button--minimal coral-Button--medium" onclick="addCustomVariable(this)">
          <span class="coral-Icon coral-Icon--sizeS coral-Icon--add" role="img"></span>
          <span class="coral-Button-label"></span>          
        </button>  
        <button id="variable1-Remove" class="coral-Button coral-Button--minimal coral-Button--medium" onclick="removeCustomVariable(this)">
          <span class="coral-Icon coral-Icon--sizeS coral-Icon--minus" role="img"></span>
          <span class="coral-Button-label"></span>          
        </button>        
      </label>
    </div>
  </form>

  <script>
    
    window.extensionBridge.register({
      init: function(info) {
        document.getElementById('surveyID').value = (info.settings && info.settings.surveyID) || '';
        if(info.settings && info.settings.surveyID){
            document.getElementById('surveyID').value = info.settings.surveyID;
        }
        if(info.settings && info.settings.custom1El){
            document.getElementById('variable1').value = info.settings.custom1El;
        }  
        
        if(info.extensionConfiguration && info.extensionConfiguration.apiKey){
            var apiKey = info.extensionConfiguration.apiKey;
            console.log("API Key "+info.extensionConfiguration.apiKey);            
        }
      },

      getSettings: function() {
          console.log("getting settings");          
          
        return {
         surveyID: Number(document.getElementById('surveyID').value),
         customVariables: JSON.stringify(getVariablesArray())
        };
      },

      validate: function() {
        return true;
      },
      openDataElementSelector: function () {

      }
    });
    
    
    
  </script>
</body>
</html>
