<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Action</title>

  <link rel="stylesheet" href="//assets.adobedtm.com/activation/reactor/coralui/3.16.0/css/coral.css">
  <link rel="stylesheet" href="../global.css">
  <script>
    window.Coral = window.Coral || {};
    Coral.options = { typeKitId: 'buj6cmr'};
  </script>

  <script src="//assets.adobedtm.com/activation/reactor/coralui/3.16.0/js/libs/jquery.js"></script>
  <script src="//assets.adobedtm.com/activation/reactor/coralui/3.16.0/js/coral.js"></script>
  <style type="text/css">
	  .form-label {
		  padding: 10px 0px 10px 0px;
	  }
  </style>
</head>
<body class="coral--light">
  <form>
    <div class="form-label">
      <label>
        <span class="label">Survey ID</span>
        <input is="coral-textfield" id="name" class="coral-Form-field">
      </label>
    </div>
    <div class="form-label">
      <label>
        <span class="label">Variable 1 Element</span>
        <input is="coral-textfield" id="custom1" class="coral-Form-field">
      </label>
	</div>
    <div class="form-label">
      <label>
        <span class="label">Variable 2 Element</span>
        <input is="coral-textfield" id="custom2" class="coral-Form-field">
      </label>
	</div>
    <div class="form-label">
      <label>
        <span class="label">Variable 3 Element</span>
        <input is="coral-textfield" id="custom3" class="coral-Form-field">
      </label>
    </div>
    <div class="form-label">
      <label>
        <span class="label">Variable 4 Element</span>
        <input is="coral-textfield" id="custom4" class="coral-Form-field">
      </label>
    </div>
    <div class="form-label">
      <label>
        <span class="label">Variable 5 Element</span>
        <input is="coral-textfield" id="custom5" class="coral-Form-field">
      </label>
    </div>
  </form>

  <script src="//assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
  <script>
    window.extensionBridge.register({
      init: function(info) {
        document.getElementById('name').value = (info.settings && info.settings.name) || '';
      },

      getSettings: function() {
        return {
         surveyID: Number(document.getElementById('name').value),
         custom1El: document.getElementById('custom1').value,
          custom2El: document.getElementById('custom2').value,
          custom3El: document.getElementById('custom3').value,
          custom4El: document.getElementById('custom4').value,
          custom5El: document.getElementById('custom5').value
        };
      },

      validate: function() {
        return true;
      }
    });
  </script>
</body>
</html>