body {
  padding: 12px;
}

.label {
  line-height: 36px;
  margin-right: 8px;
}

.u-gapRight {
  margin-right: 8px;
}
.form-label {
    padding: 10px 0px 10px 0px;
}
span.label{
    text-align: right;
    width: 70px;
    display: inline-block;
}
hr{
    border-width: 1px;
    border-style: solid;
    border-color: rgb(242, 242, 242);
    border-image: initial;
    margin: 20px 0px;
}
select.coral-Button{
    width:auto;
    padding:5px;
    font-weight: normal
}
option.coral-Button{
    font-weight: normal
}