<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Extension Configuration</title>

  <link rel="stylesheet" href="//assets.adobedtm.com/activation/reactor/coralui/3.16.0/css/coral.css">
  <link rel="stylesheet" href="../global.css">
  <script>
    window.Coral = window.Coral || {};
    Coral.options = { typeKitId: 'buj6cmr'};
  </script>

  <script src="//assets.adobedtm.com/activation/reactor/coralui/3.16.0/js/libs/jquery.js"></script>
  <script src="//assets.adobedtm.com/activation/reactor/coralui/3.16.0/js/coral.js"></script>
  <script src="https://assets.adobedtm.com/activation/reactor/extensionbridge/extensionbridge.min.js"></script>
  <style type="text/css">
	  .form-label {
		  padding: 10px 0px 10px 0px;
	  }
          hr{
                border-width: 1px;
                border-style: solid;
                border-color: rgb(242, 242, 242);
                border-image: initial;
                margin: 20px 0px;
          }
  </style>
</head>
<body class="coral--light">
    <div class="container">
    <div>
        <div>
            <h1 class="coral-Heading coral-Heading--1">QuestionPro Surveys</h1>
        </div>
        <div>
            With over 2.5 million users across 100 countries, QuestionPro is the leading provider of online survey software that allows users to generate the insights they need to make better business decisions. QuestionPro includes not only tools for creation, distribution, and analysis of surveys, but also provides a platform for polling, tablet-based mobile research, and data visualization. We have provided reliable and innovative technology to Fortune 100 companies, academic institutions, small businesses, and individual DIY researchers for over 12 years.
        </div>
    </div>
    <br>
    <hr>
    <br>
    <div>
        <form>
            <div><h1 class="coral-Heading coral-Heading--1">Settings</h1></div>
            <div>
                Existing QuestionPro customers, please enter the API key for your QuestionPro Account &nbsp;&nbsp;<a target="_blank" href="https://www.questionpro.com/api/#GenKey"><span class="coral-Icon coral-Icon--sizeXS coral-Icon--infoCircle InfoTip-icon" role="img"></span></a>
            </div>
            <div class="form-label">                
              <label>               
                <span>
                    <input is="coral-textfield" class="coral-Textfield" id="apiKey" class="coral-Form-field">                    
                </span>                
              </label>
            </div>            
        </form>
    </div>
    <br>
    <hr>
    <br>
    <div>
        <div><h1 class="coral-Heading coral-Heading--1">Interested in using QuestionPro?</h1></div><br>
        <div>
            Fill out the form below and we'll contact you with additional details.
        </div>
    </div>
    <br>
    <div>
        <!--[if lte IE 8]>
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script>
        <![endif]-->
        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2.js"></script>
        <script>
          hbspt.forms.create({ 
            portalId: '354042',
            formId: 'c04eaa5b-a954-4be5-871c-23792b14ce3c'
          });
        </script>
    </div>
    </div>
  <script>

  
    
    window.extensionBridge.register({
      init: function(info) {
        document.getElementById('apiKey').value = (info.extensionConfiguration && info.extensionConfiguration.apiKey) || '';
        if(info.extensionConfiguration && info.extensionConfiguration.apiKey){
            document.getElementById('apiKey').value = info.extensionConfiguration.apiKey;
        }            
      },

      getSettings: function() {
        return {
         apiKey: document.getElementById('apiKey').value
        };
      },

      validate: function() {
        return true;
      },
      
    });
    
    
    
  </script>
</body>
</html>
